body {
  background-color: #e5e5ed;
  opacity: 0.8;
  background-image: radial-gradient(#545674 0.5px, transparent 0.5px),
    radial-gradient(#545674 0.5px, #e5e5ed 0.5px);
  background-size: 20px 20px;
  background-position:
    0 0,
    10px 10px;
}
